<tr>
<td>
  <%= image_tag order_product.product.image.tiny %>
</td>
<td>
  <h4><%= order_product.product.name %></h4>
  <br>
  <p><%= order_product.product.description %></p>
</td>
<td>
  <%= order_product.quantity %>
</td>
<td>
<%= Money.new(order_product.total_price_cents, 'USD') %>
</td>

</tr>